<header class="bg-primary text-white mb-4">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="/diary">
        <i class="bi bi-journal-bookmark-fill me-2"></i>Secret Diary
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/diary"><i class="bi bi-journal-text me-1"></i>My Entries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/diary/new"><i class="bi bi-plus-circle me-1"></i>New Entry</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
